.opblock[data-opblock-hub] {
    border-color: #80007e !important;
    background: rgba(254,97,248,.1) !important;
}

.opblock[data-opblock-hub] .opblock-summary-method {
    background: #80007e !important;
}

.opblock[data-opblock-hub] span::after {
    background: #80007e !important;
}