@import "functions";

// the outer div
.notification-message-wrapper{
  --notification-primary-color: red;
  --notification-secondary-color: orange;


  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;

  width: 400px;
  margin-bottom: 30px;

  // the error message containers
  .notification-content{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: end;
    flex-direction: column;
    flex-flow: wrap;
    gap: 20px;


    // single error message
    .single-notification-message{
      width: 80%;
      height: available;

      background-image:  linear-gradient(-65deg, var(--notification-primary-color) 20%, var(--notification-secondary-color));
      animation: rotateBorderBg 3s infinite;

      display: flex;
      justify-content: center;
      align-items: center;

      // to make that nice border
      padding: 1px;
      border-radius: 10px;


      .notification-text-content{
        width: 93.5%;
        height: 100%;

        padding: 20px 10px 20px 20px;
        background: var(--base-primary-color);

        color: white;
        font-size: fontSize(1.3rem);

        border-radius: inherit;
      }
    }

    .fade-out{
      animation: fadeOut 1500ms forwards ease-in;

      @keyframes fadeOut {
        0%{
          opacity: 1;
          transform: none;
        }
        80%{
          opacity: 0;
        }
        100%{
          opacity: 0;
          transform: translateX(100%);
        }
      }
    }
  }
}