@import "colors";
@import "functions";
@import "external-loading-bar";

// Colors
$server-info-bg: $base-bg;
$text-color: $base-text-color;
$status-color: red;


.server-info{
  background: $server-info-bg;
  padding: 10px;
  position: relative;
  background: linear-gradient(to top, var(--base-secondary-color) 0%, var(--base-primary-color) 80%);

  color: $text-color;
  height: 100%;

  .information{
    height: 100%;
  }

  .server-name{
    color: var(--server-name);
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: fontSize(2rem);
    font-weight: 600;
    text-overflow: clip;

    cursor: pointer;

    &:hover{
      background: var(--base-secondary-color);
    }
  }

  .server-name-wrapper{
    display: flex;
    gap: 10px;
    max-width: 100%;
  }

  .server-name-wrapper.server-option-active{
    & ~ .server-options{
      display: block;
    }
  }

  .server-options{
    display: none;

    padding-left: 20px;
    margin-bottom: 2rem;

    font-size: fontSize(1.3rem);

    .server-single-option{
      margin-top: 10px;
      position: relative;
      width: 80%;

      label{
        input{
          font-size: inherit;
          color: white;
          border: none;
          height: 30px;
          width: 100%;
        }

        input[type="text"]{
          background: var(--base-secondary-color);

          &::placeholder {
            color: #c5c5c5;
          }

          &:hover{
            filter: brightness(1.3);
          }
        }

        input[type="button"]{
          background: #c50707;

          &:hover{
            background: #e3e3e3;
            color: #c50707;
          }
        }
      }

      &.proceed-active{
        .server-option-proceed{
          display: flex;
        }

        // hide outline when the proceed is active
        label input{
          outline: none !important;
        }
      }

      .server-option-proceed{
        display: none;

        // position and height top so that this box appears on top of the inputs
        position: absolute;
        width: 105%;
        height: 110%;
        top: -5%;
        left: -1%;

        align-items: center;
        justify-content: space-between;

        background: var(--base-primary-color);

        input{
          height: 80%;
          cursor: pointer;

          outline: none;

          &:hover{
            color: white;
          }
        }

        .cancel-button{
          background: #f57272;

          &:hover{
            background: #9d0505;
          }
        }

        .proceed-button{
          background: #8ffa8f;

          &:hover{
            background: #128012;
          }
        }
      }
    }
  }

  $status-size: 20px;
  .status{
    box-sizing: border-box;
    width: $status-size;
    height: $status-size;
    min-width: $status-size;
    min-height: $status-size;

    border-radius: 50%;
    background: var(--circle-color);

    position: relative;


    &:before{
      content: '';

      box-sizing: border-box;
      position: absolute;

      top:50%;
      left:50%;

      transform: translate(-50%, -50%);

      width: 80%;
      height: 80%;
      border-radius: 50%;
      border: $server-info-bg $status-size/10 solid;
      opacity: 0.7;
    }
  }

  .lds-spinner{
    zoom: 0.4;
    transform: translateX(-70px);
    color: var(--loading-bar-color);
    display: var(--loading-bar-display);

    div:after{
      background: var(--loading-bar-color);
    }
  }

  .server-address{
    margin-bottom: 30px;
    color: var(--server-address);
    cursor: pointer;
    position: relative;

    transition: letter-spacing 200ms, transform 200ms;

    &:hover, &:focus{
      text-decoration: underline;
    }

    &:focus{
      outline: none;
      letter-spacing: 1px;
      transform: scale(1.1) translateX(18px);
    }

    &:before{
      visibility: hidden;
      content: 'Copied';
      position: absolute;
      top: 20px;
      left: 100px;

      border: 1px black solid;
      background-color: var(--base-secondary-color);
      padding: 5px;
      border-radius: 10px;
    }
    &.copied:before{
      visibility: visible;
      animation: showCopyMessage 3s forwards;
    }

    @keyframes showCopyMessage {
      0%, 70%{
        opacity: 1;
      }
      100%{
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .server-uptime{
    display: var(--uptime-timer-display);
  }

  &:not(.online-colors) .active-players{
    display: none;
  }
  .active-players{
    margin-top: 40px;
    height: calc(100% - 350px);
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar{
      border-radius: 10px;
      background: var(--base-secondary-color);
      filter: brightness(10);
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #ffffff;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--base-dropdown-color);
      border-radius: 20px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #b2b2b2;
    }

    .player{
      width: 90%;
      height: 40px;
      background: #232e3b;
      border-radius: 2px;
      padding-left: 6px;
      margin-bottom: 3px;

      display: flex;
      align-items: center;
      position: relative;

      opacity: 0.9;

      &:hover{

        background: #334254;
        .total-time{
          display: block;
        }
      }

      .total-time{
        display: none;
        position: absolute;
        z-index: 3;
        top: -10px;
        left: 60px;
        background: #505050;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 11px 1px black;
      }
    }
  }

  .performance{
    position: absolute;
    bottom: 40px;
    font-size: fontSize(1rem);
    filter: drop-shadow(0 0 4px black);

    pre{
      margin: 0;
    }
  }

  .button-wrapper{
    position: absolute;
    bottom: 40px;
    right: 30px;
    filter: var(--start-button-filter);

    cursor: var(--start-button-cursor);

    .toggle-button{

      image-rendering: pixelated;
      width: 75px;
      height: 40px;
      content: var(--start-button-image);

      &:hover, &:focus{
        content: var(--start-button-hover-image);
        outline: none;
      }
    }
  }
}

