@import "functions";


$dropdown-bg-brighter: rgba(0, 0, 0, 0.9);
$dropdown-bg-darker: rgba(0, 0, 0, 0.95);

$offline-server-color: #adadad;
$offline-server-hover-color: #ececec;
$running-server-color: #63bb63;
$running-server-hover-color: #a2f3a2;


// right part of the header
.right-container{
  width: 500px;
  height: 65px;
  margin-right: 20px;


  // dropdown outer wrapper
  .dropdown-wrapper{
    @extend %full-size;
    position: relative;

    border-radius: 10px;

    // dropdown border and background color
    .dropdown-border{
      @extend %full-size;
      @extend %absoluteCenter;

      //make background darker
      background: linear-gradient(
                      $dropdown-bg-brighter,
                      $dropdown-bg-darker), var(--base-dropdown-color);


      border: var(--base-dropdown-color) 2px solid;
      filter: saturate(1.1) brightness(1.1);

      border-radius: inherit;
    }

    &:hover .dropdown-border{
      filter: saturate(3) brightness(2);
    }

    // the real content
    .dropdown-content{
      @extend %full-size;
      @extend %absoluteCenter;

      // this is what is displayed all the time
      .constant-content{
        @extend %full-size;

        display: flex;
        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;
        padding: 0 2% 0 3.5%;

        font-size: fontSize(2rem);

        user-select: none;

        .selected-server-name{

        }

        // the minecraft button
        .dropdown-button{
          min-width: 50px;
          height: 50px;

          position: relative;

          transition: transform 400ms;

          img{
            position: absolute;

            image-rendering: pixelated;
            content: var(--image-path);
            @extend %full-size;

            visibility: hidden;
          }
        }

        &:hover .hover-image, & .normal-image, &.press .press-image{
          visibility: visible !important;
        }
      }



      & .constant-content:hover{
        cursor: url('../button-images/cursor_arrow_down.png'), pointer;
      }

      &.active{
        .dropdown-button{
          transform: rotate(180deg);
        }

        .constant-content:hover{
          cursor: url('../button-images/cursor_arrow_up.png'), pointer;
        }

        .dropdown-server-list{
          display: block;
        }
      }


      // this is the actual dropdown
      .dropdown-server-list{
        display: none;
        height: 100px;
        width: 99%;

        position: relative;
        transform: translateY(-2px);

        .dropdown-list-bg{
          @extend %full-size;

          float: left;
          position: absolute;
          top: 0;
          left: 0;



          background: linear-gradient(
                          $dropdown-bg-darker,
                          $dropdown-bg-brighter), var(--base-dropdown-color);

          border: var(--base-dropdown-color) 2px solid;
          border-top: none;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;

          // to keep the same height of the bg as the server list menu, there are copies of the server-list elements
          // which are put in this element. Here we set them as not visible, to hide them (obviously).
          .dropdown-list-content-servers{
            opacity: 0;
          }
        }


        // to make the dropdown bg only saturated when the user hovers only on the dropdown, and not
        // on the "create a new server" field
        // btw wtf is this
        .dropdown-list-bg:has(+ .dropdown-list-content > .dropdown-list-content-servers:hover){
          filter: saturate(3) brightness(2);
        }


        //this class is ok    ,  this is here to copy the height of the dropdown-list-content element.
        .dropdown-list-content, .dropdown-list-bg{
          position: absolute;
          z-index: 1;

          padding: 10px;
          font-size: fontSize(1.3rem);

          width: 95%;
          height: auto;

          .dropdown-list-content-servers{
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          .minecraft-server{
            display: flex;
            align-items: center;
            justify-content: left;

            color: $offline-server-color;
            width: 100%;

            cursor: pointer;


            &::before{
              content: '▶';
              margin-right: 5px;
            }

            &:hover{
              color: $offline-server-hover-color;
            }
          }

          .running-server{
            color: $running-server-color;

            &::after {
              content: '(Running)';
              margin-left: 10px;
            }

            &:hover{
              color: $running-server-hover-color;
            }
          }

          .new-server-box{
            width: 60%;
            height: 40px;

            margin-top: 5%;

            font-size: fontSize(1rem);

            padding-left: 10px;

            background: linear-gradient(
                            $dropdown-bg-darker,
                            $dropdown-bg-brighter), var(--base-dropdown-color);
            border: var(--base-dropdown-color) 2px solid;
            border-radius: 5px;


            &:hover{
              &::placeholder{
                color: #dadada;
              }
            }
          }
        }
      }
    }
  }
}