{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ApiSettings": {
    "HttpsPort": "7229",
    "HttpPort": "5229"
  },
  "Jwt": {
    "Key": "Put your jwt key here",
    "Issuer": "MCServerApi",
    "Audience": "MCServerClients",
    "Subject": "JWTServiceAccessToken"
  },
  "ConnectionStrings": {
    "SQLite": "Data Source=Resources\\eventdata.db;Version=3;"
  },
  "Paths": {
    "Hamachi": "C:\\..\\LogMeIn Hamachi\\x64",
    "JavaLocation": "C:\\..\\jdk-17.0.2\\bin\\java.exe",
    "MinecraftServersBaseFolder": "C:\\..\\MinecraftServers\\",
    "MinecraftServerHandler": "C:\\..\\MCServerHandler\\bin\\Debug\\net5.0\\MCServerHandler.exe"
  },
  "MinecraftSettings": {
    "ServerMaxRamMB": "8196",
    "ServerInitRamMB": "8196",
    "MaxDiskSpaceGB": "10"
  }
}

